

@media (max-height:825px){
    #header-container{
        height: 265px;
    }
}


@media (max-height:790px){
    #header-container{
        height: 245px;
    }
}

@media (max-height:745px){
    #header-container{
        height: 255px;
    }
}

@media (max-height:736px){
    #header-container{
        height: 205px;
    }
}



@media (max-height:645px){
    #header-container{
        height: 170px;
    }
}


@media (max-height:575px){
    #header-container{
        height: 140px;
    }
}

