

#header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    position: absolute;
    height: 200px;
    background: white;
    width: 100%;
    box-shadow: 0px 5px 100px rgba(224, 224, 224,.015);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    top: 0px;
    left: 0px;
}


#result-container{
    width: 490px;
    overflow-x: scroll;
    text-overflow: clip;
    overflow-y: hidden;
    z-index: 98;
}


#container-text {
    padding-right:35px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


#result-container {
    display: flex;
    flex-direction:row-reverse;
}


#operation{
    margin-bottom: 20px;
    text-align: end;
    outline: none !important;
}


#result{
    opacity: .85;
}


#show {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 36px;
    margin-left:10px ;
}



/* Overflor result */




#result-container::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
    background-color: white;
}


#result-container::-webkit-scrollbar-thumb{
    background-color: #B8B8B8;
    cursor: pointer;
}

#result-container::-webkit-scrollbar-track {
    background:white
}

