


#root-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 10px;
}



#after-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btn-item-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: rgba(220, 220, 220,.90);
    border: solid 0px;
    margin-right: 10px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}



#btn-item-opacity-equals {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: rgba(220, 220, 220,.90);
    border: solid 0px;
    margin-right: 10px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

#clear-all{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: rgba(220, 220, 220,.90);
    border: solid 0px;
    margin-right: 10px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;

}



.btn-item-opacity{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: rgba(220, 220, 220,.90);
    border: solid 0px;
    margin-right: 10px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


#item-container-options{
    display: flex;
    justify-content: flex-start;
}

#item-container{
    display: flex;
    justify-content: center;
}


.btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: #FFFFFF;
    border: solid 0px;
    box-shadow: 0px 5px 5px rgba(224, 224, 224,.35);
    margin-right: 7px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


#btn-deg-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: #FFFFFF;
    border: solid 0px;
    box-shadow: 0px 5px 5px rgba(224, 224, 224,.35);
    margin-right: 7px;
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


#btn-item-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;    background: #FFFFFF;
    border: solid 0px;
    box-shadow: 0px 5px 5px rgba(224, 224, 224,.35);
    margin-right: 7px;
    background: rgba(220, 220, 220,.90);
    width: 75px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}


#btn-item-back:hover {
    background: rgba(240, 240, 240,1);
}


.btn-item:hover {
    background: rgba(240, 240, 240,1);
}




#indicator-container {
    display: flex;
    justify-content: center;
}


#indicator {
    margin-top: 15px;
    background: black;
    height: 10px;
    width: 70px;
    opacity:.08;
    border-radius: 100px;
}

#buttons-functions-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#generic-buttons-container{
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#buttons-container {
    display: flex;
    flex-direction: column;
    margin-top: 230px;
}


button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




@media only screen and (max-width: 650px) {
    svg{
        width: 30px;
        height: 30px;
    }
    #generic-buttons-container{
        margin-top: 1px;
        padding-top: 5px;
    }
    #root-container{
        gap: 2px;
    }
    .btn-item {
        width: 50px;
    }

    #btn-item-back{
        width: 50px;
    }
    .btn-item-nav{
        width: 50px;
    }
    .btn-item-opacity{
        width: 50px;
    }
    #btn-item-opacity-equals{
        width: 50px;
    }
    #clear-all{
        width: 50px;
    }

    #btn-deg-mode{
        width: 50px;
    }

}



@media only screen and (max-width: 450px) {
    svg{
        width: 30px;
        height: 30px;
    }
    #generic-buttons-container{
        margin-top: 0px;
        padding-top: 5px;
    }
    #root-container{
        gap: 2px;
    }
    .btn-item {
        width: 38px;
    }

    #btn-item-back{
        width: 38px;
    }
    .btn-item-nav{
        width: 38px;
    }
    .btn-item-opacity{
        width: 38px;
    }
    #btn-item-opacity-equals{
        width: 38px;
    }
    #clear-all{
        width: 38px;
    }
    #btn-deg-mode{
        width: 38px;
    }
}



@media 
only screen and (max-width: 325px) {
    #generic-buttons-container{
        margin-top: 5px;
        padding-top: 0px;
    }
    #root-container{
        gap: 5px;
    }
    .btn-item-opacity{
        width: 31px;
    }

    .btn-item {
        width: 31px;
    }

    #clear-all{
        width: 31px;
    }

    #btn-item-back{
        width: 31px;
    }
    #btn-item-opacity-equals{
        width: 31px;
    }
    .btn-item-nav{
        width: 31px;
    }
    #btn-deg-mode{
        width: 31px;
    }
}