

#grapth-canvas-modal {
    display: none;
}

#grapth-canvas-modal-3d{
    display:none;
}


#screen-modal {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .19);
    backdrop-filter: blur(2.5px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 99;
}



#screen-modal-m {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .19);
    backdrop-filter: blur(2.5px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}


#modal-graph {
    background: white;
    border-radius: 8px;
    width: 100%;
    height: 510px;
    z-index: 999;
    position: absolute;
    top: 15%;
}


#modal-graph-3d {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: white;
    border-radius: 8px;
    width: 50%;
    height: 510px;
    z-index: 99999;
    position: absolute;
}




@media 
only screen and (max-width: 819px) {
    #modal-graph-3d{
        width: 50%;
    }
} 


@media 
only screen and (max-width: 740px) {
    #modal-graph-3d{
        width: 90%;
    }
} 




#canvas-3d-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



#load-piker {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: red;
    position: absolute;
    z-index: 1;
}

@-webkit-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #CBCBCB;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }
  
  body {
    background: #774cff;
  }
  
