

.modal-step {
    width: 100%;
    height: 100%;
    background:white;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99999;
    display: none;
}


/* margin-bottom: 100px;
overflow-x: scroll;
width: 100%;
white-space: nowrap;
text-overflow: clip;
font-size: 25px;
padding-bottom: 11px;
 */


#step-body{
    width: 90%;
    display: flex;
    flex-direction: column;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}



/* title */

.title {
    width: 100%;
    font-size: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    text-overflow: clip;
    padding-bottom: 10px;
    margin-bottom: 80px;
    overflow-y: hidden;
}



.title::-webkit-scrollbar{
    height: 3px;
}




/* item-container */


.item-container{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .025);
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: clip;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-bottom: 35px;
}


.step-title{
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
}



.item-container::-webkit-scrollbar{
    height: 3px;
}



/* Icons indicators */


#icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

#icon-body-container{
    width: 94%;
}

#close-icon{
    width: 35px;
    height: 35px;
}



#show-icon {
    width: 45px;
    height: 35px;
    cursor: pointer;
}

#show {
    display: none;
}





